/* resetto */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{font-size:100%;}
legend{color:#000;}

/* the rest of the code */
html,body{width:100%;height:100%;overflow:hidden;background:#000;}
.cover{display:block;margin-left:auto;margin-right:auto;height:100%;}

#attrib-banner {  background: gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(75%, #000000));   background: -webkit-linear-gradient(top, #333333 0%, #000000 75%);   background: -moz-linear-gradient(top, #333333 0%, #000000 75%);   background: -o-linear-gradient(top, #333333 0%, #000000 75%);   background: linear-gradient(top, #333333 0%, #000000 75%); display: block;   background-color: #000; text-decoration: none !important; }
#attrib-banner{position:absolute;left:0;bottom:0;z-index:10;width:100%;height:20px;-webkit-box-shadow:0 -2px 8px rgba(0,0,0,0.5);-moz-box-shadow:0 -2px 8px rgba(0,0,0,0.5);box-shadow:0 -2px 8px rgba(0,0,0,0.5);color:#fff;font:12px Helvetica, Arial, sans-serif;}

#attrib-copy{display:block;text-decoration:none!important;-webkit-font-smoothing:antialiased;}
#attrib-copy{-webkit-transition:color 100ms ease-in-out;-moz-transition:color 100ms ease-in-out;-o-transition:color 100ms ease-in-out;transition:color 100ms ease-in-out;padding:4px 0 0 5px;}